<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>CaughtUp Server</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
 
 	<listener>
		<listener-class>news.caughtup.util.CaughtUpServletContextListener</listener-class>
   	</listener>
 
	<servlet>  
    	<servlet-name>Register</servlet-name>  
    	<servlet-class>news.caughtup.rest.RegisterServlet</servlet-class>  
  	</servlet>  
  	<servlet-mapping>  
    	<servlet-name>Register</servlet-name>  
    	<url-pattern>/register/*</url-pattern>  
  	</servlet-mapping> 
	
	<servlet>  
    	<servlet-name>Login</servlet-name>  
    	<servlet-class>news.caughtup.rest.LoginServlet</servlet-class>  
  	</servlet>  
  	<servlet-mapping>  
    	<servlet-name>Login</servlet-name>  
    	<url-pattern>/login/*</url-pattern>  
  	</servlet-mapping> 
  	
  	<servlet>  
    	<servlet-name>Logout</servlet-name>  
    	<servlet-class>news.caughtup.rest.LogoutServlet</servlet-class>  
  	</servlet>  
  	<servlet-mapping>  
    	<servlet-name>Logout</servlet-name>  
    	<url-pattern>/logout/*</url-pattern>  
  	</servlet-mapping>
  	
  	<servlet>  
    	<servlet-name>Profile</servlet-name>  
    	<servlet-class>news.caughtup.rest.ProfileServlet</servlet-class>  
  	</servlet>  
  	<servlet-mapping>  
    	<servlet-name>Profile</servlet-name>  
    	<url-pattern>/profile/*</url-pattern>  
  	</servlet-mapping>
  	
  	<servlet>  
    	<servlet-name>Articles</servlet-name>  
    	<servlet-class>news.caughtup.rest.ArticleServlet</servlet-class>  
  	</servlet>  
  	<servlet-mapping>  
    	<servlet-name>Articles</servlet-name>  
    	<url-pattern>/articles</url-pattern>  
  	</servlet-mapping> 
  	
  	<servlet>  
    	<servlet-name>Follow</servlet-name>  
    	<servlet-class>news.caughtup.rest.FollowServlet</servlet-class>  
  	</servlet>  
  	<servlet-mapping>  
    	<servlet-name>Follow</servlet-name>  
    	<url-pattern>/follow/*</url-pattern>  
  	</servlet-mapping>    
  	
  	<servlet>  
    	<servlet-name>Share</servlet-name>  
    	<servlet-class>news.caughtup.rest.ShareServlet</servlet-class>  
  	</servlet>  
  	<servlet-mapping>  
    	<servlet-name>Share</servlet-name>  
    	<url-pattern>/share</url-pattern>  
  	</servlet-mapping>
  	
  	<servlet>  
    	<servlet-name>Search</servlet-name>  
    	<servlet-class>news.caughtup.rest.SearchServlet</servlet-class>  
  	</servlet>  
  	<servlet-mapping>  
    	<servlet-name>Search</servlet-name>  
    	<url-pattern>/search</url-pattern>  
  	</servlet-mapping>
  	
  	<servlet>  
    	<servlet-name>TestS3</servlet-name>  
    	<servlet-class>news.caughtup.rest.TestS3Servlet</servlet-class>  
  	</servlet>  
  	<servlet-mapping>  
    	<servlet-name>TestS3</servlet-name>  
    	<url-pattern>/testS3</url-pattern>  
  	</servlet-mapping>
  	
  	<servlet>  
    	<servlet-name>Password</servlet-name>  
    	<servlet-class>news.caughtup.rest.PasswordServlet</servlet-class>  
  	</servlet>  
  	<servlet-mapping>  
    	<servlet-name>Password</servlet-name>  
    	<url-pattern>/password</url-pattern>  
  	</servlet-mapping>
</web-app>